<div class="jumbotron text-center p-4 p-md-5 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">SAVED NOTES</h1>
    <p class="lead my-3"> </p>
    <a href="/" id="scrape" class='btn btn-secondary'>Home</a>
    <a href="/saved" id="savedNotesPage" class='btn btn-secondary'>View Saved Articles</a>
  </div>
</div>

<!-- Pass in data from server.js -->

{{!-- <div class="row">
    {{#each articleNotes}}
  <div class="col-sm-3">
    <div class="card">
        <div class="card-header">
        <h5 class="card-title">{{this.title}}</h5>
  </div>
      <div class="card-body">
        <p class="card-text">{{this.body}}</p>
        <button class="btn btn-secondary" id='deleteNoteHTML' data-id='{{this._id}}' data-title='{{this.title}}' data-summary='{{this.body}}'
          data-link='{{this.link}}'>Delete Note</button>
      </div>
    </div>
  </div>
  {{/each}}
  </div> --}}



<div class="row text_middle">
  {{#each articleNotes}}
  <div class="col-sm-4 m-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> {{this.title}}</h5>
        <p class="card-text"> {{this.body}}</p>
        <button class='btn btn-outline-secondary' id='deleteNoteHTML' data-id='{{this._id}}' data-title='{{this.title}}'
          data-summary='{{this.body}}' data-link='{{this.link}}'>Delete Note</button>

        {{!-- <a target='_blank' href={{this.link}}><button id='readNoteArticle' class='btn btn-outline-secondary col-sm-4 m-1'> Read
            Article</button></a> --}}

      </div>
    </div>
  </div>
  {{/each}}
</div>